<h1 class = "h3 mb-2 text-gray-800">Categorias de autores </h1>

<div>
        <%= link_to new_author_path, {remote: true, class: "btn btn-info", id: "añadir-autor-btn"} do %>

               <span class= "fas fa-plus-square"> </span>       
        <% end  %>
</div>
<br>

<div class = "card shadow mb-4">
    <div class = "card-body">
        <div class = "table-responsive">
                <table id= "tablaAutores" class = "table table-bordered" width = "100%">
                        <thead>
                            <tr>
                                <th>Nombre </th>
                                <th>Nacionalidad</th>
                                <th>Idioma</th>
                                <th>ganancias anuales $</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                         <%=render partial: "autor", collection: @autores%>
                        </tbody>                        
                </table>
        </div>
    </div>
</div>

<%=render 'modal_autores'%>


